h1 {
    color : white;
    text-shadow: 1px 0 10px;
}

/* mise en style du lien vers la page de formation*/
.vers-formation {
    background-color: rgba(120, 190, 32, 1);
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey ;
    text-decoration:none;
}
.vers-formation:hover {
    background-color: rgba(0, 140, 149, 1); 
    color: white !important;
    border-radius: 25px;
    
}

/*forcer le padding de bootstrap */
.pt-5 {
    padding-top: 10em !important;
}

/*Mise en forme section principale*/
.detail {
    background-color: #302035;
    border: 10px double rgba(0, 140, 149, 1);
    border-radius: 10px;
    color:white;
}


