/* mise en style du lien vers la page de formation*/
.vers-formation {
    background-color: rgba(120, 190, 32, 1);
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey ;
}
.vers-formation:hover {
    background-color: rgba(0, 140, 149, 1); 
    color: white !important;
    border-radius: 25px;
}
.lien-formation {
    text-decoration:none;
}
body {
    background-image: url("../Images/A2-1920.jpg");
}
/*forcer le padding de bootstrap */
.pt-5 {
    padding-top: 15em !important;
}
.pt-6{
    padding-top: 150px;
}

/*Mise en forme section principale*/
.detail {
    background-color: #302035;
    border: 10px double rgba(0, 140, 149, 1);
    border-radius: 10px;
    color:white;
}


