
h1{
    color : rgba(0, 140, 149, 1);
    text-shadow: #78BE20 1px 0 10px; 
}

/*forcer le padding de bootstrap */
.pt-5 {
    padding-top: 3em !important;
}

/* forcer les tailles des imgs et mise en forme hover*/
img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    transition: transform 0.5s;
}

img:hover {
    transform: rotate(360deg);
}



