/* Mise en forme du titre principal*/
h1{
    color : rgba(0, 140, 149, 1);
    text-shadow: #78BE20 1px 0 10px; 
}

/* Mise en forme des cards */
.card-img-top {
    width: 90px !important;
    height: 90px !important;
}
.card {
    background-color: #302035;
    box-shadow: rgba(0, 140, 149,1) -5px 5px, rgba(0, 140, 149,0.6) -10px 10px, rgba(0, 140, 149, 0.3) -15px 15px, rgba(120, 190, 32, 0.1) -20px 20px, rgba(0, 140, 149, 0.05) -25px 25px;
}
p {
    text-align: justify !important;
}

.card-title {
    font-weight: bolder !important;
    color: rgba(0, 140, 149, 1);
    text-shadow: rgba(0, 140, 149, 1) 1px 0 10px;
}
.card-subtitle {
    font-style: italic;
    color : #78BE20;
}
